*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

/*font sizes*/

html{ font-size: 63%; }
li,button,label,input,p{ font-size: 2rem; } 
p{ font-size: 2rem; }
h1{ font-size: 2.5rem;}
h2{ font-size: 3.6rem; }
h3{ font-size: 1.7rem; font-weight: normal;}
h4,h5{ font-size: 2rem; }


a{
    color: white;
    text-decoration: none;
    font-size: 1.7rem;
}
button{
    padding: 2rem 5rem;
    color: aqua;
    background-color: rgb(13, 14, 34);
    border: none;
    font-size: 1.7rem;
    transition:all 0.2s ease-in-out;
}
button:hover{
    background-color: rgb(85, 3, 3);
    color: white;
}


/*Nav Bar of the page*/

.main-head{
    background-color:rgb(13, 14, 34);
    color: white;
}
nav{
    min-height: 10vh;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    padding: 2rem;
    align-items: center;
}
nav ul {
    display: flex;
    flex:1 1 40rem;
    justify-content: space-around;
    list-style: none;
}
#logo{
    flex: 2 1 40rem;
    font-family: 'Moon Dance', cursive;
}
#logo:hover{
 color:rgb(57, 199, 238);
}
a:hover{
    color:rgb(57, 199, 238);
}

@media  screen and (max-width:935px) {
    html{
        font-size: 45%;
    }
    nav{
        padding: 30px;
    }
    #logo{
        background-color: black;
        padding: 1rem;
        border-radius: 00px;
        text-align: center;
    }
    ul{
        padding-top: 20px;
    }
    .information-2 h3{
        background-color: white;
        color: rgb(13, 14, 34);
        padding: 20px;
    }
    .footer-wrapper{
        width: 100%;
    }
}
@media  screen and (max-width:415px){
    .form-wrapper input {
        width: 100%;
    }
} 

/*booking section*/

.section1-center{
    background: linear-gradient(rgb(149, 164, 165),transparent), url("Pictures/Boatsinbeli.jpg");
    color: rgb(12, 12, 17);
    width: 100%;
    min-height: 100vh;
    background-size:cover;
    background-position:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.section1-center h3{
    padding: 2rem;
}

#Location{
    background: url("Pictures/Beli.jpg");
    width: 100%;
    min-height: 100vh;
    background-size:cover;
    background-position:center;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.information-2  {
  width: 90%;
  margin: auto;
  position: relative;
  bottom: 25rem;
}
.information-2 h2{
    padding: 3rem 0rem;
    text-decoration: underline;
    text-decoration-thickness: 0.5rem;
}
.birds{
    position: absolute;
    top:-150px;
    left:20%;  
    animation: birdsanimation 3s infinite alternate ease-in-out;
}
@keyframes birdsanimation{
    from{
        transform:translate(10%,-10%);
    }
    to{
        transform:translate(0%,0%);
    }
}

/* Benefits section*/

#Benefit{
    background-color: rgb(13, 14, 34);
    color: white;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem;
}
#Benefit h2{
    padding-bottom: 15px;
}
.information-cards{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    min-height: 53vh;
}
.card{
    background-color: rgb(13, 14, 34);
    color: white;
    text-align: center;
    flex: 1 1 25rem;
    min-height: 40vh;
    margin: 2rem 5rem;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1), 0px 20px 20px 20px rgba(0, 0, 0, 0.1);

}
.card img{
    max-width: 15%;
    margin: 5rem;
}
.card h4 ,.card p{
    padding: 2rem;
}
.card-icon{
    background: rgb(223, 223, 223);
}

/*contact section*/

#Content{
    background: url(Pictures/Startinghotal.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-wrapper{
    background-color: rgba(19,28,39,0.8);
    color: white;
    width: 60%;
    border-radius: 20px;
}
.form-head{
    text-align: center;
    padding: 4rem;
}
.name-form,.email-form{
    padding: 3rem;
    text-align: center;
}
.form-wrapper label{
    margin: 0rem 3rem;
}
.form-wrapper button{
    width: 100%;
    padding: 2rem;
    margin-top:8rem;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
}
.form-wrapper input{
    padding: 1rem 0rem;
}
/*footer context*/
 
 footer{
    background-color: rgb(237, 237, 237);
    color: black;
 }
 .footer-wrapper{
    display: flex;
    padding: 2rem;
    width: 90%;
    margin: auto;
    align-items: center;
    min-height: 10vh;
 }
 footer ul{
    display: flex;
    list-style: none;
    flex: 1 1 10rem;
    justify-content: space-between;
    align-items: center;
 }
 footer h5{
    flex: 1 1 40rem;
 }
a img{
    max-width: 30px;
    max-height: 30px;
}
